body{
    text-align:center;
    font-family:Georgia, 'Times New Roman', Times, serif;

    color:blueviolet
}
.header{
    background-color: rgb(19, 17, 18);
    text-align: center;
    
}
.container{
    width: 700px;
    text-align: center;
    
    
}