body{
    text-align:center;
    font-family: "Arial";

    color:blueviolet
}
.header{
    background-color: aquamarine;
}
.container{
    width: 700px;
    text-align: center;
    padding: auto;
    border-color: black;
}