body{
    text-align:center;
    font-family:Georgia, 'Times New Roman', Times, serif;

    color:blueviolet
}
.header{
    background-color: rgb(247, 247, 247);
    text-align: center;
    
}
.container{
    width: 700px;
    text-align: center;
    padding: auto;
    border-color: black;
}